.footer
	margin-top: 0
	padding-bottom: 0
	border: none
	.hidden-xs
		display: inline-block!important
	.bucket
		margin-bottom: 2em
		h3
			text-transform: uppercase
			font-size: 20px
			margin-bottom: 20px
			font-weight: bold
			color: white
		ul
			li
				margin-bottom: 10px
			a
				font-size: 14px

		&.badges
			img
				display: inline-block
				vertical-align: middle
				height: 75px
				width: auto
				margin: 20px 10px 0
	&.dark
		background: $red
		color: white
		.bucket
			ul
				list-style-type: none
				padding: 0
				margin: 0 0 30px
			a
				color: white
				text-shadow: 0 1px 0 rgba(0, 0, 0, .1)
			ul.social-media
				list-style-type: none
				margin: 0 0 50px
				display: inline-block
				li
					float: left
					margin: 0 10px
					&.facebook
						a
							background-image: url('../images/facebook-icon.png')
					&.twitter
						a
							background-image: url('../images/twitter-icon.png')
					&.pinterest
						a
							background-image: url('../images/pinterest-icon.png')
					&.instagram
						a
							background-image: url('../images/instagram-icon.png')
					a
						display: block
						width: 24px
						height: 24px
						background-size: 24px 24px
						background-repeat: no-repeat
						background-position: center center
						background-color: transparent
						&:hover
							opacity: .8
	.outter-footer
		background: $darkRed
		.col-sm-12
			position: relative
			overflow: auto
	.brand
		position: absolute
		left: 0
		top: 50%
		margin-top: -16px
		height: 32px
		width: auto
		display: inline-block
		vertical-align: middle
	.copyright
		margin: 2em 0
		font-size: 13px
		a
			color: white
			text-decoration: none

